@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

/*header*/
.top-wrapper{
    background-color: #343579;
    padding: 25px 25px 35px 25px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: 'Outfit', serif;
    border-radius: 0 0 10px 10px ;
}

.top-wrapper h1{
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 10px;
}

hr{
    width: 80px;
    border: 2px solid #F8485E;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/*main*/
.wrapper{
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px ;
    padding: 40px;
    margin: -20px auto;
    width: 65%;
    display: flex;
    flex-flow: column;
    background-color: white;
}

.wrapper img{
    display: block;
    margin: 20px auto;
    width: 25%;
}

.input_section label{
    font-weight: bold;
}

.input_section{
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    display: flex;
    flex-flow: column;
}

.input_section p{
    text-align: center;
    margin-bottom: 20px;
    
}

.input_section input{
    padding: 10px;
    margin: 20px 0 30px 0;
    border-radius: 4px;
    transition: .3s ease-in;
    font-size: 18px;
}

input[type='number']:focus{
    outline: none;
    border-color: #F8485E;
}

input[type='number']:hover{
    outline: none;
    border-color: #F8485E;
    transition: .3s ease-in;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*footer*/
footer{
    background-color: #343579;
    text-align: center;
    padding:16px;
    color: white;
    font-weight: bold;
    z-index: -1;
    position: relative;
    border-radius: 10px 10px 0 0;
    margin-top: -10px;
  }

  footer p{
    margin-top: 30px;
  }

  /*button*/
  .btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  button{
    background-color: #F8485E;
    color: white;
    border: 2px solid ;
    padding: 10px 16px;
    border-radius: 8px;
    margin: 15px 10px 15px 10px;
    font-size: 14px;
    transition: .3s ease-in;
    width: 100px;
    flex-direction: row;
}

button:hover{
    color: #F8485E;
    background:transparent;
    transition: .3s ease-in;
    scale: 90%;
}

#kelilingSegitiga{
    display: none;
}

@media only screen and (max-width: 1024px) {
    
    .wrapper{
        padding: 30px;
        width: 80%;
    }
    .wrapper img{
        width: 50%;
    }

    button{
        width: 80px;
    }
}

